.row
  #journal-page.journal-page{
    data-day-entries='#{render template: "journals/entries",
      formats: :json,
      locals: {entries: @journal.day_entries}}',

    data-month-entries='#{render template: "journals/entries",
      formats: :json,
      locals: {entries: @journal.month_entries}}'
    }
