.draft-page{
  font-size: 16px;
  width: 700px;
  margin: auto;
}

.draft-page__title{
  margin-bottom: 30px;
}

.draft-page__footer{
  border-top: 1px solid black;
  margin-top: 30px;
  padding-top: 30px;
  min-height: 150px;
}
