.tag-list{
  padding: 0px;
  list-style-type: none;
  display: inline;
  text-align: left;
}

.tag-list__item{
  display: inline;
  margin-right: 2px;
  padding: 1px 3px;
  color: rgb(145, 23, 10);
  text-decoration: underline;
}
